@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MovieApp</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/MovieApp.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body class="bg-light">
    <div class="container">
        <div class="row justify-content-center align-items-center vh-100">
            <div class="col-md-6 col-lg-4">
                <div class="card shadow-sm">
                    <div class="card-body">
                        <h2 class="card-title text-center mb-4">@ViewData["Title"]</h2>
                        <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
                            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                            <div class="form-floating mb-3">
                                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                                <label asp-for="Input.Email">Email</label>
                                <span asp-validation-for="Input.Email" class="text-danger"></span>
                            </div>
                            <div class="form-floating mb-3">
                                <input asp-for="Input.Password" type="password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
                                <label asp-for="Input.Password">Password</label>
                                <span asp-validation-for="Input.Password" class="text-danger"></span>
                            </div>
                            <div class="form-floating mb-3">
                                <input asp-for="Input.ConfirmPassword" type="password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
                                <label asp-for="Input.ConfirmPassword">Confirm Password</label>
                                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                            </div>
                            <button id="registerSubmit" type="submit" class="btn btn-primary w-100">Register</button>
                        </form>
                        <div class="text-center mt-3">
                            <p>Already have an account? <a class="btn btn-link" id="login" asp-area="Identity" asp-page="/Account/Login">Login</a>.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @section Scripts {
        <partial name="_ValidationScriptsPartial" />
    }
</body>
</html>
