@{
    ViewData["Title"] = "Rating Error";
}

<div class="container mt-5">
    <div class="text-center">
        <h1 class="display-4">Oops!</h1>
        <p class="lead">You have already submitted a rating. You cannot submit a rating twice.</p>
        <hr class="my-4">
        <p>Please contact support if you think this is a mistake.</p>
        <a class="btn btn-primary btn-lg" asp-action="Index" asp-controller="Movies" role="button">Return to Home</a>
    </div>
</div>